* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

pre {
  background: #333;
  color: white;
  border: 2px solid blue;
}
pre code{
}

section {
  position: relative;
  padding: 1rem;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}


/* section:nth-child(1) {
  display: none;
}

section:nth-child(2) {
  display: none;
} */


/* ROCKET */
.rocket {
  height: 220px;
  width: 120px;
}

.rocket .mission-elements {
  max-width: 2px;
  margin: 0 auto;
  border-left: 35px solid transparent;
  border-right: 35px solid transparent;
  border-bottom: 48px solid #eee;
  position: relative;
  bottom: -20px;
}

.rocket .exploration-upper-stage {
  position: relative;
  height: 100%;
  width: 100%;
  background: #eee;
  border-radius: 60%;
  -webkit-border-radius: 60%;
  -moz-border-radius: 60%;
  -ms-border-radius: 60%;
  -o-border-radius: 60%;
}

.rocket .exploration-upper-stage::after,
.rocket .exploration-upper-stage::before {
  position: absolute;
  bottom: 40px;
  content: "";
  height: 80px;
  width: 50px;
  background: orangered;
  box-shadow: inset -18px 0px 1px #00000010;
  border-radius: 10px;
  z-index: -1;
}

.rocket .exploration-upper-stage::after {
  left: -40px;
  clip-path: polygon(0 71%, 99% 0, 100% 78%, 0% 100%);
  transform: rotate(-6deg);
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  -ms-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
}

.rocket .exploration-upper-stage::before {
  right: -40px;
  clip-path: polygon(0 71%, 99% 0, 100% 78%, 0% 100%);
  transform: rotate(6deg) rotateY(180deg);
  -webkit-transform: rotate(6deg) rotateY(180deg);
  -moz-transform: rotate(6deg) rotateY(180deg);
  -ms-transform: rotate(6deg) rotateY(180deg);
  -o-transform: rotate(6deg) rotateY(180deg);
}

.exploration-upper-stage .portholes {
  position: absolute;
  height: 60px;
  width: 60px;
  background: #bad4e0;
  border-radius: 50%;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);
  box-shadow: inset 4px 4px 0px #ffffff44;
  border: solid 7px #96acb6;
}

.rocket .boosters {
  z-index: 1;
  position: relative;
  height: 15px;
  width: 55%;
  bottom: 18px;
  margin: 0 auto;
  background: orangered;
  clip-path: polygon(10% 0%, 90% 0%, 100% 100%, 0% 100%);
  transform: rotate(180deg);
}

.flame_wrapper {
  position: relative;
  bottom: 10px;
  margin-left: 50px;
  transform: rotate(45deg);
}

.flame {
  position: absolute;
  border-radius: 10% 80% 10% 80%;
}

.oranged {
  width: 80px;
  height: 80px;
  background-color: orangered;
}

.orange {
  width: 60px;
  height: 60px;
  background-color: orange;
}

.gold {
  width: 50px;
  height: 50px;
  background-color: gold;
}

.lightyellow {
  width: 35px;
  height: 35px;
  background-color: lightyellow;
}


/* LAPTOP */
.laptop-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.case {
  position: relative;
  width: 200px;
  height: 130px;
  background: #141F23;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 5.4px;
}

.case:after {
  position: absolute;
  content: "";
  width: 15%;
  height: 2px;
  top: 3px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #b9b9b974;
  border-radius: 0.5px;
  z-index: 1;
}

.screen {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #78B2CA;
  border-radius: 2px;
}

.shine {
  position: relative;
  height: 100%;
  width: 100%;
  margin-left: 0.5rem;
}

.shine:after,
.shine::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 17px;
  background: #ffffff48;
  transform: skew(18deg);
}

.shine:after {
  left: 20%;
}

.shine::before {
  left: 35%;
}

.keys {
  position: relative;
  width: 280px;
  border-right: 40px solid transparent;
  border-bottom: 55px solid #DDDDDD;
  border-left: 40px solid transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys::before {
  position: absolute;
  top: 54.95px;
  left: -40px;
  content: "";
  height: 12px;
  width: 280px;
  background: #B7B7B7;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.keys::after {
  position: absolute;
  content: "";
  width: 90%;
  margin-top: 30px;
  border-right: 12px solid transparent;
  border-bottom: 20px solid #c9c9c9;
  border-left: 12px solid transparent;
  z-index: 2;
}

.sensor {
  position: absolute;
  top: 0;
  margin-top: 30px;
  width: 75px;
  border-right: 8px solid transparent;
  border-bottom: 15px solid #c9c9c9;
  border-left: 8px solid transparent;
}










/* CAR */
.car {
  position: relative;
  width: 320px;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: self-end;
}

.car .roof {
  position: relative;
  right: 35px;
  width: 65%;
  height: 80px;
  background: #f47d2d;
  clip-path: polygon(30% 0%, 80% 0, 100% 100%, 0% 100%);
  position: relative;
  top: 5px;
  padding: 6px 14px;
}

.car .window {
  position: relative;
  left: 1px;
  clip-path: polygon(27% 0%, 82% 0, 100% 100%, 0% 100%);
  width: 100%;
  height: 100%;
  background: #cae6f2;
}

.car .window:after {
  position: absolute;
  content: "";
  height: 100%;
  width: 4px;
  left: 60%;
  z-index: 1;
  background: #f47d2d;
  transform: skewX(14deg);
}

.car .fender {
  height: 100%;
  width: 100%;
  background: #f47d2d;
  border-top-left-radius: 20% 2.5rem;
  border-top-right-radius: 15% 2rem;
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.car .indicator-light {
  margin-left: 10px;
  height: 22px;
  width: 25px;
  border-radius: 20px 20px 20px 5px;
  background: #80c768;
}

.car .door-handle {
  margin-top: -6px;
  margin-left: 20px;
  height: 4px;
  width: 20px;
  border-radius: 5px;
  background: #444;
}

.tail-light {
  margin-top: 8px;
  height: 15px;
  width: 10px;
  margin-right: 0px;
  border-radius: 20px;
  background: #80c768;
}

.front-bumper,
.back-bumper {
  position: absolute;
  height: 35px;
  width: 20px;
  border-radius: 5px;
  background: #222;
  bottom: 5px;

}

.front-bumper {
  left: 0;
}

.back-bumper {
  right: 0;
}

.front,
.back {
  position: absolute;
  transform: translateX(-40%);
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background: linear-gradient(0deg, #fff, #fff, #fff, #b8686a, #b8686a);
  background: linear-gradient(0deg,
      #fff 0%,
      #fff 55%,
      #b8686a 55%,
      #b8686a 100%);
}

.front {
  left: 70px;
  bottom: -25%;
}

.back {
  right: 0px;
  bottom: -25%;
}

.front:after,
.back:after {
  position: absolute;
  content: "";
  height: 70px;
  width: 70px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border-radius: 50%;
}

.front::before,
.back::before {
  position: absolute;
  content: "";
  height: 25px;
  width: 25px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: #000;
  border: 8px solid #fff;
  border-radius: 50%;
  z-index: 1;
}